body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   background-image: url('bg2.jpg');
   background-size: cover; 
   background-position: center; 
    
 }


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: #8e5dbe;
    border: 3px;
    border-radius: 10px;
}

#logo {
    margin-top: 20px;
    font-size: 2rem;
    color: #ffffff;
}

.login_design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 317px; 
    height: 436px;
    background-color: #4a029d;
    border: 2px;
    border-radius: 10px;
    color: white;
    opacity: 100%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}

.login_design h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
}

.description {
    font-size: 0.9rem;
    color: white;
    margin-bottom: 20px;
}

input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

.password-container 
{
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

#loginBtn 
{
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    border:2px solid #ffffff;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}


#logo{
    text-align: center;
    width: 300px;
    height: 52px;
    line-height: 120%;
    /* align-self: center; */
    font-size: 40px;
    font-weight: 600;
    font-family: 'Inter';
    background: linear-gradient(90deg, #9500FF 34%, #6200FF 50%, #2600FF 69%);
    /* -webkit-background-clip: text; */
    background-clip: text;
    color: transparent;
    backdrop-filter: blur(4px);
}
